html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    text-transform: uppercase;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #60a9ff;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.panel {
    background-color: white;
    width: 65%;
    height: 10%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.pricing-plan {
    font-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 1px solid #e1f1ff;
}


.pricing-img {
    width: 70%;
    height: 25%;
    padding: 8% 0 8% 0;
}

.pricing-header {
    width: 80%;
    font-size: 125%;
    font-weight: 500;
    color: #948979;
    /* border-bottom: 1px solid #e1f1ff; */
    margin: 0 3% 3% 0;
    /* padding: 0 0 1em 0; */
}

.pricing-features-item {
    font-size: 100%;
    color: #016ff9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: 1px solid #e1f1ff;
    border-top: 1px solid #e1f1ff;
    margin: 0 0 0 1em;
    padding: 8% 5% 8% 0;
    width: 80%;

}

.pricing-price {
    width: 100%;
    font-size: 200%;
    font-weight: 700;
    color: #016ff9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6% 6% 5% 0;
    margin: auto;
}

.pricing-button {
    font-size: 100%;
    text-decoration: none;
    width: 43%;
    height: 3%;
    background-color: #ffffff;
    border: 1px solid #99aabb;
    opacity: 0.7;
    border-radius: 10px;
    margin: 0 3% 15% 0;
    padding: 5% 6%;
    outline-style: none;
    color: #348efe;
    font-weight: 400;
    -webkit-transition: all ease 0.2s 0.1s;
    transition: all ease 0.2s 0.1s;
}

.pricing-button:hover {
    opacity: 1;
    transition: all ease 0.2s 0.1s;
    -webkit-transition: all ease 0.2s 0.1s;
}

#pricing-plan-1 {
    border: none;
}

#pricing-plan-2 .pricing-button {
    color: #e1f1ff;
    background-color: #348efe;
}

@media (width <=1000px) {
    body {
        background-color: #fff;
    }

    * {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .pricing-plan {
        border-left: none;
    }

    title {
        font-family: 'Open Sans', sans-serif;
        font-size: 250%;
        color: #135D66;
        font-weight: 500;
    }

    .pricing-button {
        margin: 0 0 15% 3%;
    }

    .pricing-price {
        padding: 6% 6% 5% 6%;
    }

    .pricing-header {
        margin: 0 3% 3% 3%;
    }
}
